.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll

.DS_Store
output.tsv.gz
plots
plots_pdm
plots_nonstdchars
output_nonstdchars.tsv.gz
test_5_123_123.multivalency.tsv.gz
test_pdm_5_123_123.multivalency.tsv.gz
test_pdm_5_123_33.multivalency.tsv.gz
test_data/test_matrix.csv
test_data/test_pdm.fasta